/* src/styles/MovieRow.css */
.movie-row {
    
    padding: 0 10px;
}

.movie-row-title {
    font-size: 2rem;
    color: #ffffff;
    margin-bottom: 10px;
    font-weight: 700;
}

.movie-row-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    padding: 10px 0;
}

.movie-card {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s, box-shadow 0.3s;
}

.movie-card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
}

.movie-poster {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.movie-title {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    color: #ffffff;
    font-weight: 700;
    background: rgba(0, 0, 0, 0.6);
    padding: 10px;
    text-align: center;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.3);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

/* Responsividade */
@media (max-width: 1024px) {
    .movie-row-content {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 768px) {
    .movie-row-title {
        font-size: 1.5rem;
    }
    .movie-row-content {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 480px) {
    .movie-row-title {
        font-size: 1.25rem;
    }
    
}
